*{
    text-decoration: none!important;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: "calibri"!important;
    padding: 0;
    margin: 0;
    overflow-X: hidden!important;
}

.active{
    color: #036795!important;
}

.call-icon{
    background-color: #036795;
    width: 50px;
}

.num{
    margin-left: 20px;
}

.translate{
    background-color: #036795!important;
    transform: translateX(0)!important;
}

.overlay{
    transform: translateX(0)!important;
    transition: .5s ease-in-out;
}

.over{
    top: 100px;
    width: 40%;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(2px);
    z-index: 30;
    bottom: 0;
    left: 0;
    display: none;
    transform: translateX(-100%);
}

/* Barre de navigation */

.menu .btnBurger{
    display: block;
    right: 15px;
    display: none;
    font-weight: bold;
    font-size: 35px;
}

.menu{
    padding: 0 30px;
    height: 100px;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: #fff;
    
}

.menu .home img{
    width: 60px;
    height: 60px;
}
.menu nav{
    margin-top: 7px;
    transform: translateX(0);
    transition: .5s ease-in-out;
}
.menu nav ul li a{
    font-size: 19px;
}

/* Fin Barre de navigation */

.div-acc{
    background: linear-gradient(to right, #036795, #036795, #033E5C);
    padding: 20px 30px;
    margin-top: 100px;
    width: 100%!important;
}

.div-acc .txt-acc{
    width: 45%;
    margin-left: 5%;
}

.div-acc img{
    width: 55%;
}

.div-acc .txt-acc h1{
    font-size: 70px;
}

.div-acc .txt-acc a button{
    height: 45px;
    width: 50%;
    color: #036795;
    background-color: #fff;
    transition: .2s ease-in-out;
}

.div-acc .txt-acc a button:hover{
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
}

.sec-about{
    padding: 40px 200px;
}

.sec-about .txt-about a button, .btnReserv{
    height: 45px;
    width: 50%;
    color: #fff;
    background-color: #036795;
    transition: .2s ease-in-out;
}

.sec-about .txt-about a button:hover{
    background-color: transparent;
    border: 2px solid #036795;
    color: #036795;
}

.nousChoisir{
    padding: 50px;
    width: 100%;
}

.nousChoisir h2{
    color: #036795;
}

.enseign{
    padding: 30px 100px;
}

.enseign .enseignDispos .enseignDispo{
    background-color: rgba(217, 217, 217, 0.4);
    backdrop-filter: blur(25px);
}

.realisations{
    background: linear-gradient(to right, #036795, #036795, #033E5C);
    padding: 40px 50px;
}

/* Footer */


footer img{
    width: 15rem;
    height: 15rem;
}

footer hr{
    border: 2px solid #033E5C;
}

.copy{
    background-color: #036795;
}

/* fin footer*/

/* Media screen */

@media (max-width: 1000px){
    .menu{
        padding: 0 4px;
    }
    .menu .btnBurger{
        display: block;
    }
    nav{
        position: absolute;
        top: 100px;
        left: 40%;
        right: 0;
        color: #fff;
        bottom: 0;
        margin-top: initial;
        transform: translateX(100%)!important;
    }

    nav ul{
        flex-direction: column;
    }
    nav ul li{
        width: 100%;
    }
    .menu nav ul li a{
        font-size: 18px;
    }
    .over{
        display: block;
    }
    .div-acc{
        padding: 15px 10px;
        flex-direction: column;
    }
    .div-acc .txt-acc{
        width: 100%;
        margin-left: initial;
    }
    .div-acc img{
        width: 100%;
    }
    .div-acc .txt-acc h1{
        font-size: 45px;
    }
    .sec-about{
        padding: 15px 10px;
        flex-direction: column-reverse;
    }
    .call{
        flex-direction: column;
        align-items: start!important;
    }
    .num{
        margin-left: initial;
    }
    .nousChoisir{
        padding: 30px 10px;
    }
    .nousChoisir .flex{
        flex-direction: column;
    }
    .nousChoisir .flex .grid{
        width: 100%;
    }
    
    .nousChoisir .flex .img{
        width: 100%;
    }
    .enseign{
        padding: 30px 10px;
    }
    .realisations{
        padding: 40px 10px;
    }
    
}

/* Fin media screen */